.guarantee
    margin-top: -47px
    &__title
        +bold
        margin-top: -47px
        font-size: 30px
        line-height: 45px
        text-align: center
        margin: auto
        max-width: 60%
    &-card
        display: flex
        justify-content: space-around
        text-align: center
        padding-top: 100px
        padding-bottom: 18px
    &__text
        width: 300px
        text-align: center
        padding-top: 8px
        padding-bottom: 100px
        +bold
        font-size: 18px
        line-height: 24px
@media (max-width: 1200px)
    .guarantee    
        &__title
            font-size: 20px
        &__img
            padding-top: 20px
        &-card
            justify-content: space-around
            flex-wrap: wrap
            padding-top: 30px
            
@media (max-width: 768px)
    .guarantee
        padding: 0 
        &-block
            margin-top: -95px
            margin-bottom: 60px   
        &__title
            font-size: 18px
            justify-content: space-around
            flex-wrap: wrap
            line-height: 22px
            max-width: 90%
        &__text
            padding-top: 14px;
            padding-bottom: 10px
            font-size: 15px
            line-height: 20px
            max-width: 85%
            margin: auto
            margin-top: 10px