.navbar
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 4px
    &__info
        display: flex
        align-items: center
        text-align: right
    &__address
        display: flex
        flex-direction: column
        font-size: 13px
        font-weight: 400
    &__button
        margin-left: 30px
        +bold 
        font-size: 13px
        width: 170px
        height: 49px
    &__phone
        display: inline-block
        color: $text-color
        font-size: 20px
        text-decoration: none
        margin-top: 6px
        +bold 
    &-mini
        &__logo
            display: none
@media (max-width: 1200px)
    .navbar
        &__contacts
            display: none
        &__button
            font-size: 12px
            padding: 12px 26px
        &__logo
            width: 90px 
@media (max-width: 768px)
    .navbar
        &__contacts
            display: none
@media (max-width: 400px)
    .navbar
        padding-top: 12px
        &__button
            width: 137px
            height: 39px
            font-size: 10px
            letter-spacing: -0.3px
            margin-bottom: 20px
            margin-top: 5px
            margin-right: 13px
        &__logo
            display: none
        &-mini
            &__logo
                display: flex
                background-size: 100%
                width: 100%
                margin-bottom: 14px
                margin-left: -5px


   