.offer
    background: url(../img/bg_offer.png) no-repeat
    background-position: center right
    background-size: contain
    position: relative
    &:before
        content: ''
        width: 50%
        height: 100% 
        position: absolute
        top: 0
        left: 0
        background-color: #fff  
    &-block
        width: 50% 
        padding-right: 90px 
        position: relative
        
        &__modal
            width: 100%
            padding-right: 0px
            .offer__subtitle
                max-width: unset
            .offer__input
                width: 100%
        .offer-wrap
            width: 240px
            display: inline-block
            position: relative
            margin-right: 5px
            label.invalid
                    color: red
                    display: inline-block
                    margin-left: 30px
                    margin-top: -22px
                    position: absolute  
    &__title  
        +bold
        font-size: 24px
        line-height: 35px
        margin-top: -10px
        margin-bottom: 20px
        text-align: left
    &__subtitle
        max-width: 250px
        margin-bottom: 30px  
        font-size: 16px
    &__input
        margin-bottom: 30px
        width: 240px
        &:first-child
            margin-right: 10px
    &__button
        width: 100% 
        min-height: 70px 
        +bold
        padding: 0px 52px
    &-text
        display: flex
        justify-content: space-between
        margin-top: 25px
        line-height: 24px
    &__call
        width: 224px
        line-height: 24px

.call
    text-decoration: none
    +bold 
    color: black
@media (max-width: 1200px)
    .offer
        background-position: 100% 0
        background-size: cover
        &__input 
            width: 276px
            margin-bottom: 10px
        &__button
            font-size: 13px
        &__call
            width: 200px
        &-text
            flex-direction: column
            font-size: 15px
            line-height: 24px
            margin-left: 7px
            margin-bottom: -40px
 
@media (max-width: 768px)
    .offer
        background: #ffffff

        &__title  
            +bold
            font-size: 20px
            line-height: 22px
            margin-top: 20px
            margin-bottom: 16px
        &-block 
            width: 100%
            padding-right: 0
            .offer-wrap
                width: 100%
        &__subtitle
            margin-bottom: 28px  
            font-size: 18px
        &__input 
            margin-bottom: 7px
            width: 276px
        &__button
            max-width: 276px 
            min-height: 70px 
            +bold
            padding: 0 52px
            font-size: 14px
            line-height: 18px   
        &-text
            flex-direction: column
            font-size: 15px
            line-height: 24px
            margin-left: 7px
            margin-bottom: -40px
        &__call
            width: 233px
        &__callmin
            width: 200px
            padding-top: 5px
@media (max-width: 360px)
    .offer
        &__title  
            +bold
            font-size: 18px
            line-height: 22px
            margin-top: -66px
            margin-bottom: 16px
        &-block 
            width: 100%
            padding-right: 0
        &__subtitle
            margin-bottom: 28px  
            font-size: 14px
        &__input 
            margin-bottom: 7px
            width: 275px
        &__button
            width: 276px 
            min-height: 70px 
            +bold
            padding: 0 50px
            font-size: 14px
            line-height: 18px   
        &-text
            flex-direction: column
            font-size: 15px
            line-height: 24px
            margin-left: 7px
            margin-bottom: -40px
        &__call
            width: 233px
        &__callmin
            width: 200px
            padding-top: 5px

