.offer
    background: url(../img/bg_offer.png) no-repeat
    background-position: center right
    background-size: 50%
    &-block
        width: 50% 
        padding-right: 90px 
    &__title  
        max-width: 360px
        line-height: 35px
        margin-bottom: 24px
    &__subtitle
        max-width: 250px
        margin-bottom: 30px
    &__input
        margin-bottom: 30px
        width: 240px
        &:first-child
            margin-right: 10px
    &__button
        width: 100% 
        min-height: 70px 