.utp
    background-color: #ffc000
    
    &-title
        text-align: center
        padding: 60px
        font-size: 28px
        line-height: 50px
        letter-spacing: -0.4px
@media (max-width: 1200px)
    .utp
        &-title
            padding: 70px
@media (max-width: 768px)
    .utp
        &-title
            padding: 60px 25px
            letter-spacing: -0.2px
        &__text
            font-size: 20px
            line-height: 30px
@media (max-width: 360px)
    .utp
        &-title
            padding: 60px 25px
            max-width: 316px
            letter-spacing: -0.2px
        &__text
            font-size: 18px
            line-height: 21px
            margin-top: 10px
            
