.utp
    background-color: #ffc000
    
    &-title
        text-align: center
        padding: 100px 250px
        font-size: 32px
        line-height: 50px
@media (max-width: 1200px)
    .utp
        &-title
            padding: 70px
@media (max-width: 768px)
    .utp
        max-width: 580px
        width: 90%
        &-title
            padding: 30px
            font-size: 18px
            line-height: 30px